extend layout/base

block title
	title PixelCat「阵列猫」

block main
	+nav('home')
	.inner
		.about
			.cat
			.about-content
				p PixelCat「阵列猫」是一个向往自由的公会（工作室），脚踏七彩祥云（滑稽）奔着改革开放的大右方，前进！
				p 那么「阵列猫」到底是做什么的？我也不知道，其实她什么都做（拒绝肮脏的 PY 交易！）
		.info
			.line
				.name 饲养员
				.value
					a(href="https://egoistian.com") EGOIST
			.line
				.name 邮箱
				.value 0x142857@gmail.com
