extend layout/base

block title
	title Members - PixelCat「阵列猫」
	
block main
	+nav('members')
	.inner
		p 成员名单待添加……
		p 如果你想加入 PixelCat「阵列猫」，那就发邮件给我吧，告诉我你的长♂处就行了！✧٩(ˊωˋ*)و✧
		p 说正经的，我们想改变世界（赚更多的钱来提升逼格），我们制造让生活变得更容易和更有趣的东西，因此我们欢迎各类人士加入，不过你至少得熟悉用电脑做你擅长的事，我们暂时离不开电脑（悲剧），会写程序或者懂设计我个人是非常钦佩的，当然如果你只有颜值高这个优点那就更好了。
