extend layout/base

block title
  title Projects - PixelCat「阵列猫」

block main
  +nav('projects')
  .inner
    .projects
      .project
        h2.project-name 
          | Firesize
          a.url(href="https://github.com/egoist/firesize") https://github.com/egoist/firesize
        .project-dexcription.
          即时图片处理服务。
